= simple_form_for(@generator) do |f|
  = f.error_notification

  .form-inputs
    .form-group
      = f.input :name, input_html: { class: "form-control texteditor" }, label: "Project Name"
      .privacy-option
        = f.input :is_private, label: "Private"

    .form-group
      %label
        Select Snippets
      = f.association :snippets, as: :check_boxes, collection: Snippet.order(name: :asc).map { |s| ["<strong>#{s.name}</strong><div class='pull-right small'>#{s.tags.split(",").join(" • ")}</div><br>#{s.description}<br>".html_safe, s.id] },  label: false

  .form-actions.text-center
    = f.button :submit, class: "btn btn-primary btn-lg"