%table.table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - if generators.present?
      - generators.each do |generator|
        %tr
          %td
            = link_to generator.name, generator
          %td.text-right
            = link_to generator_url(generator, format: :rb), target: "_blank", class: "btn text-muted btn-sm" do
              .fa.fa-code
              Source
            = link_to new_generator_url(dup: generator.id), class: "btn text-muted btn-sm" do
              .fa.fa-copy
              Clone
            = link_to generator_url(generator), class: "btn text-muted btn-sm" do
              Show
    - else
      %tr
        %td.text-center{ colspan: 3 }
          %em
            = nil_notice