%h1 Generators

%table.table
  %thead
    %tr
      %th Name
      %th Command Line Script
      %th

  %tbody
    - @generators.each do |generator|
      %tr
        %td
          = link_to generator.name, generator
        %td
          .text-editor
            rails new #{generator.name.parameterize} -m
            = generator_url(generator, format: :rb)
        %td.text-right
          = link_to "Source", generator_url(generator, format: :rb), target: "_blank", class: "btn text-muted btn-sm"

  %tfoot
    %tr
      %td{ colspan: 3 }

%br

.text-center
  = link_to 'New Generator', new_generator_path, class: "btn btn-primary"
