%h1 Generators

%table.table
  %thead
    %tr
      %th Name
      %th Is private
      %th Author
      %th

  %tbody
    - @generators.each do |generator|
      %tr
        %td= generator.name
        %td= generator.is_private
        %td= generator.author_id
        %td.text-right
          = link_to 'Show', generator, class: "btn btn-default btn-sm"

%br

= link_to 'New Generator', new_generator_path, class: "btn btn-primary"
