
%h1.text-center
  = @generator.name

%p.small.text-muted.text-center
  %em
    By
    = @generator.author.email

%h3
  Snippets
- @generator.snippets.each do |snippet|
  %p
    = snippet.name

%p
  = link_to "View Source", generator_url(format: :rb), class: "btn btn-default btn-sm"

%h3
  Usage
%pre.text-center
  rails new #{@generator.name.parameterize} -m
  = generator_url(format: :rb)
