.container
  = render "shared/page_title", title: "#{@generator.name} Template", author: @generator.author.email

  - if current_user and current_user.can_edit_generator(@generator.id)
    .pull-right
      = link_to 'Edit Template', edit_generator_path(@generator), class: "btn btn-primary btn-sm"

  %ul.nav.nav-tabs
    %li.active
      %a{"aria-controls" => "install", "data-toggle" => "tab", :href => "#install", :role => "tab"}
        .fa.fa-terminal
        Install
    %li
      %a{"aria-controls" => "source", "data-toggle" => "tab", :href => "#source", :role => "tab"}
        .fa.fa-code
        Source
    %li
      %a{"aria-controls" => "sort", "data-toggle" => "tab", :href => "#sort", :role => "tab"}
        .fa.fa-sort
        Sort

  / Tab panes
  .tab-content.content-wrapper
    #install.tab-pane.fade.in.active{:role => "tabpanel"}
      %p
        To install #{@generator.name} for a new Rails Application, make sure Git and Rails are installed, then run the following script from the command line:
      %pre
        = commandline_script(@generator.id)

    #source.tab-pane.fade.in{:role => "tabpanel"}
      %pre= render @generator

    #sort.tab-pane.fade.in{:role => "tabpanel"}
      %h3
        Snippets

      %ul#sortable.list-unstyled{ "data-update-url" => "#{sort_snippets_generator_url}" }
        - @snippets.each do |snippet|
          = content_tag_for :li, snippet do
            .row.sortable-row 
              .col-xs-12
                %span.handle.text-muted.padded_icon
                  .fa.fa-bars
                = snippet.name
                = snippet.description

  .content-footer-wrapper
    %ul.list-inline
      %li
        = link_to new_generator_url(dup: @generator.id) do
          .fa.fa-copy
          Clone