%h1.text-center
  = @generator.name

.container-md
  %p.small.text-muted.text-center
    %em
      By
      = @generator.author.email

  .text-center
    %p
      You can use the link below to generate your Rails Application.
    %pre
      = commandline_script(@generator.id)
    
    %ul.list-inline
      %li
        = link_to generator_url(format: :rb), target: "_blank", class: "btn text-muted btn-sm" do
          .fa.fa-code
          Source
      %li
        = link_to new_generator_url(dup: @generator.id), class: "btn text-muted btn-sm" do
          .fa.fa-copy
          Clone
      - if current_user and current_user.can_edit_generator(@generator.id)
        %li
          = link_to edit_generator_path, class: "btn text-muted btn-sm" do
            .fa.fa-pencil
            Edit
