%h1.text-center
  = @generator.name

.container-md
  %p.small.text-muted.text-center
    %em
      By
      = @generator.author.email

  .text-center
    %p
      You can now use the link below to generate your Rail Application.
    %pre
      rails new #{@generator.name.parameterize} -m
      = generator_url(format: :rb)

    %hr
    
    %ul.list-inline
      %li
        = link_to generator_url(format: :rb), target: "_blank", class: "btn text-muted btn-sm" do
          .fa.fa-code
          Source
      - if current_user.can_edit_generator(@generator.id)
        %li
          = link_to edit_generator_path, class: "btn text-muted btn-sm" do
            .fa.fa-pencil
            Edit
