
= simple_form_for(@snippet) do |f|
  = f.error_notification
  
  .form-group
    = f.input :name, input_html: { class: "form-control" }
    .privacy-option
      = f.input :is_private, label: "Private"

  .form-group
    = f.input :is_featured
  
  .form-group
    = f.input :description, input_html: { class: "form-control" }

  .row
    .col-sm-4
      .form-group
        = f.input :registration_url, input_html: { class: "form-control" }
    .col-sm-4
      .form-group
        = f.input :documentation_url, input_html: { class: "form-control" }
    .col-sm-4
      .form-group
        = f.association :parent, input_html: { class: "form-control" }
  
  .form-group
    = f.input :install_content, input_html: { class: "form-control texteditor" }
  
  .form-group
    = f.input :followup_content, input_html: { class: "form-control texteditor" }
  
  .form-group
    = f.input :tags, input_html: { class: "form-control" }

  .form-actions.text-center
    = f.button :submit, class: "btn btn-primary btn-lg"

:javascript
  $(".texteditor").each(function(){
    CodeMirror.fromTextArea($(this)[0], {
      lineWrapping: true
    });
  });


// lineWrapping: true