%table.table
  %thead
    %tr
      %th{ colspan: 3 }
        Name
  %tbody
    - if snippets.present?
      - snippets.each do |snippet|
        %tr
          %td
            = link_to snippet.name, snippet
            - if snippet.is_featured
              %sup.text-yellow
                .fa.fa-star

          %td.small.text-muted
            = snippet.tags.split(",").map {|t| t }.join(" • ")
          %td.text-right.action-column
            -# = link_to snippet_url(snippet, format: :rb), target: "_blank", class: "btn text-muted btn-sm" do
            -#   .fa.fa-code
            -#   source
            = link_to new_snippet_path(dup: snippet.id), class: "btn text-muted btn-sm" do
              .fa.fa-copy
              clone
            = link_to snippet_url(snippet), class: "btn text-muted btn-sm" do
              show
    - else
      %tr
        %td.text-center{ colspan: 3 }
          %em
            = nil_notice
