.container
  = render "shared/page_title", title: "#{@snippet.name} Snippet", author: @snippet.author.email

  - if current_user and current_user.can_edit_snippet(@snippet.id)
    .pull-right
      = link_to 'Edit Snippet', edit_snippet_path(@snippet), class: "btn btn-primary btn-sm"

  %ul.nav.nav-tabs
    %li.active
      %a{"aria-controls" => "install", "data-toggle" => "tab", :href => "#install", :role => "tab"}
        .fa.fa-terminal
        Install
    %li
      %a{"aria-controls" => "source", "data-toggle" => "tab", :href => "#source", :role => "tab"}
        .fa.fa-code
        Source

  / Tab panes
  .tab-content.content-wrapper
    #install.tab-pane.fade.in.active{:role => "tabpanel"}
      %p
        To install #{@snippet.name} within an existing rails project, run the following script:
      %pre
        rake rails:template LOCATION=
        = snippet_url(@snippet, format: :rb)

      - if @snippet.followup_content.present?
        %p
          %b Followup content:
          = @snippet.followup_content

    #source.tab-pane.fade.in{:role => "tabpanel"}
      %pre= render @snippet

  .content-footer-wrapper
    %ul.list-inline
      - if @snippet.registration_url.present?
        %li= link_to "Registration", @snippet.registration_url

      - if @snippet.documentation_url.present?
        %li= link_to "Documentation", @snippet.documentation_url

      - @snippet.tags.split(",").each do |tag|
        %li.pull-right
          = link_to tag, url_for(tag: tag)
      %li.pull-right
        .fa.fa-tags.text-muted
