= render "shared/page_title", title: @snippet.name, author: @snippet.author.email

.container-lg
  - if @snippet.followup_content.present?
    %p
      %b Followup content:
      = @snippet.followup_content

  %pre.text-center
    rake rails:template LOCATION=
    = snippet_url(@snippet)

  %ul.list-inline.text-center
    - @snippet.tags.split(",").each do |tag|
      %li
        = link_to tag, url_for(tag: tag)

  %hr

  - if @snippet.registration_url.present?
    %p.text-center
      %b Registration:
      %br
      = @snippet.registration_url

  - if @snippet.documentation_url.present?
    %p.text-center
      %b Documentation:
      %br
      = link_to @snippet.documentation_url

  .text-center
    - if current_user and current_user.can_edit_snippet(@snippet.id)
      = link_to 'Edit', edit_snippet_path(@snippet), class: "btn text-muted btn-sm"
    = link_to snippet_url(format: :rb), target: "_blank", class: "btn text-muted btn-sm" do
      .fa.fa-code
      source
