.container-sm
  .form-wrapper
    %h1 Log in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        .form-group
          = f.input :email, input_html: { class: "form-control" }, required: false, autofocus: true
        .form-group
          = f.input :password, input_html: { class: "form-control" }, required: false
          .small.text-right
            %em
              = link_to "Forgot your password?", new_password_path(resource_name)
        .form-group
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Log in", class: "btn btn-primary btn-block btn-lg"
  
  = render "users/shared/links"
