%header.pad-section
  .container
    .row
      .col-sm-7.col-md-6
        %h1.text-center-xs
          Build a Rails App Template
          %br.hidden-xs
          and get work done faster.

        %br

        %p.lead.text-center-xs
          %span.small
            1.
          Select your configurations.
          %br
          %span.small
            2.
          Run the command line script.
          %br
          %span.small
            3.
          Get to work.

      .col-sm-5.col-md-6
        %br
        .gif-wrapper
          = image_tag "screenshare.gif"
    
    %br
    %br
    %br

    .container-xl
      .row
        .col-sm-8
          %p.text-lg
            Save time and avoid headaches by getting your Rails app off the ground by using our generators, or creating your own.
        .col-sm-4.text-right
          = link_to "Get Started", "#get_started", class: "btn btn-primary btn-lg btn-block-xs"

%section#test_it.background-gray-light.pad-section
  .container-lg
    %h2.text-center
      Unfamiliar with Rails App Templates?
    %br
    %p.lead.text-center
      Application templates are simple Ruby files for adding gems, initializers, and more to your freshly created or existing Rails project. Read more about
      %br
      = link_to "Rails App Templates", "http://guides.rubyonrails.org/rails_application_templates.html", target: "_blank"

    %hr.short

    .container-sm
      %h3.text-center
        Test it out
      %ol
        %li
          Open a terminal window
        %li
          Make sure git and rails are installed
        %li
          Copy/paste the following script:
      
    .container-lg
      %pre.text-center
        = commandline_script(@demo_generator.id)

%section#get_started.pad-section
  .container-md
    %h2.text-center
      Get Started
    %p.text-center
      Use our library of code snippets to build a generator.
    .form-wrapper
      = render "generators/form_micro"

%hr.short

%section#test_it
  .container
    %h2.text-center
      Already have a project?
    %p.lead.text-center
      If you're working on an existing project, app templates can still we useful.
      %br
      Browse snippets of code to install individual pieces of functionality.
    %p.text-center
      = link_to "Browse Snippets", snippets_path, class: "btn btn-primary btn-lg"
