%nav.navbar
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} RUN on RAILS
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .navbar-form.navbar-left
        = link_to "New Generator", new_generator_path, class: "btn btn-primary"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to 'Edit profile', edit_user_registration_path
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            = link_to "Login", new_user_session_path
    / /.navbar-collapse
  / /.container-fluid
