%nav.navbar
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_url, class: "navbar-brand" do
        = image_tag "logo.png"
        
      .navbar-text
        %em
          Move faster on Rails
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-plus
              .fa.fa-caret-down
            %ul.dropdown-menu
              %li
                = link_to 'New Template', new_generator_path
              %li
                = link_to 'New Snippet', new_snippet_path
          %li.navbar-avatar.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = image_tag current_user.photo_url(30)
            %ul.dropdown-menu
              %li
                = link_to generators_path do
                  Templates
                  %br
                  %em.small
                    for new projects
              %li
                = link_to snippets_path do
                  Snippets
                  %br
                  %em.small
                    for existing projects
              %li.divider{:role => "separator"}
              %li
                = link_to edit_user_registration_path do
                  Settings
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Sign up", new_user_registration_path
          %li
            = link_to "Login", new_user_session_path
    / /.navbar-collapse
  / /.container-fluid
