!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    
    %title PumpTrolley
    
    = display_meta_tags :og => {:site => @meta_site_name, :title => "#{@meta_title} | #{@meta_subtitle}", :description => @meta_description, :keywords => @meta_keywords, :type => @meta_type, :url => request.original_url, :prev => "#{request.referer}", image: @meta_image}

    -# %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -# %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

    = csrf_meta_tags
    
  %body{ class: @body_class }
    = render 'layouts/alerts'
    = render 'layouts/navigation'

    #main_content.container
      = yield
    
    = render 'shared/integrations/ga'

    = render 'layouts/footer'

    